body {
	background-image: url(map5.png);
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.topnav {
  background-color: #000000;
  overflow: hidden;
  top: 0px;
  font-family:sans-serif;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #46A500;
  color: white;
}

.john {
  position: absolute;
  left: 720px;
  top: 200px;
  height: 50px;
  width: 50px;
  box-shadow: 5px 5px 5px  #505050;
  -webkit-border-radius:50%; 
  cursor: pointer;
    
}
.john .showContent{
  border:2px solid #94C946;
  border-radius: 5px;
  background-color: #46A500;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 10px;
  width: 100px;
  box-shadow: 5px 5px 5px #505050;
  text-align: left;
}

.john:hover {
  transform: scale(2); 
}

.jim {
  position: absolute;
  left:450px;
  top: 190px;
  height: 50px;
  width: 50px;
  box-shadow: 5px 5px 5px  #505050;
  -webkit-border-radius:50%; 
   cursor: pointer;
 }

.jim:hover {
	transform: scale(2);
}

.jim .showContent{
  border:2px solid #94C946;
  border-radius: 5px;
  background-color: #46A500;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 10px;
  width: 100px;
  box-shadow: 5px 5px 5px #505050;
}

.jay{
  position: absolute;
  left:210px;
  top: 150px;
  height: 50px;
  width: 50px;
  box-shadow: 5px 5px 5px  #505050;
  -webkit-border-radius:50%; 
   cursor: pointer;
}

.jay:hover {
	transform: scale(2);
}

.jay .showContent{
  border:2px solid #8d8d8d;
  border-radius: 5px;
  background-color: #8D8D8D;
  color: #AFAFAF;
  font-family: sans-serif;
  font-size: 10px;
  width: 100px;
  box-shadow: 5px 5px 5px #505050;
  text-align: left;
}

.jack {
  position: absolute;
  left: 580px;
  top: 60px;
  height: 50px;
  width: 50px;
  box-shadow: 5px 5px 5px  #505050;
  -webkit-border-radius:50%; 
   cursor: pointer; 
  }

.jack:hover {
  transform: scale(2); 
}

.jack .showContent{
  border:2px solid #8d8d8d;
  border-radius: 5px;
  background-color: #8D8D8D;
  color: #AFAFAF;
  font-family: sans-serif;
  font-size: 10px;
  width: 100px;
  box-shadow: 5px 5px 5px #505050;
  text-align: left; 
}

.available {
  background-color: #AFAFAF; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 107px;
}

.teacher{
  margin: 50px 0px;
}

.button{
  margin-top: 20px;
  background-color: #4CAF50; 
  border: 2px #4CAF50; 
  color: white; 
  padding: 10px 24px; 
  cursor: pointer; 
  width: 10%; 
  display: block; 
  box-shadow: 5px 5px 5px #505050;
}

.button:focus {
	outline: none;
}
.button:active {
	background-color: rgb(50, 102, 52);
	color: white;
}

.popup{
  display: inline-block;
  width: 85px;
  min-height: 80px;
  background-color: #AFAFAF;
  border: 2px;
  font-family: sans-serif;
  color: #000000;
  padding: 20px;
  transition: all 0.5;
  text-align: left;
}

.popup p{
  text-align: left;
	margin-top: 20px;
}





